.row {
    margin-left: 20px;
     color: white;
   }

   .rows-posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
   }

   .rows-Imageposters{
    object-fit: contain;
    width: 100%;
    max-height: 150px;
    transition: transform 450ms;
    margin-right: 10px;
   }

   .rows-posters::-webkit-scrollbar{
       display: none;
   }

   .rows-postersLarge{
       max-height: 250px;
   }

   .rows-postersLarge:hover{
       transform: scale(1.09);
   }

   .rows-Imageposters:hover{
       transform: scale(1.08);
   }